@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --yellow: #E0FF98;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-yellow:var(--yellow);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-body:var(--font-body);
  --font-display:var(--font-display);
  --font-third:var(--font-third);
  --poRight: -100%;
  --poLeft: 180%;
  --breakpoint-sm: 640px;
  --breakpoint-md: 1024px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
   font-family: var(--font-body);
   width: 100vw;
   overflow-x: hidden;
}

.font-body {
  font-family: var(--font-body)
}

.font-display {
  font-family: var(--font-display)
}

.font-third {
  font-family: var(--font-third)
}

.clip-custom {
  clip-path: polygon(59.15% 0%, 53.34% 51.47%, 6.5% 100%, 6.5% 100%, 55.68% 100%, 55.68% 55.08%, 90.6% 0%);
  background-color: #9C93E8;

}

.clip-start {
  clip-path: polygon(53% 0, 96% 0, 51% 52%, 40% 100%, 5% 100%, 44% 50%);
  background-color: #9C93E8;
}

.primary-yellow {
  background-color: #E0FF98;
}

#hero {
    background-color: #F3EFEB;
}

.navbar-clip-path {
  clip-path: polygon(0% 0%, 9% 0%, 100% 25.75%, 100% 100%, 65% 100%, 0% 7%);
/* border-bottom-right-radius: 5vw;  */
    background-color: #E0FF98;
}

.top-clip-path {
  clip-path: polygon(25% 0, 75% 0, 51% 100%, 49% 100%);
}

.bottom-clip-path {
  /* clip-path: polygon(49% 0, 51% 0, var(--poLeft) 100%, var(--poRight) 100%); */
  clip-path: polygon(50% 0%, 100% 45%, 100% 100%, 0 100%, 0 45%);

  --poLeft: 180%;
  --poRight: -100%;
}

.triangle-clip {
  /* clip-path: polygon(50% 0%, 20% 100%, 80% 100%); */
  clip-path: polygon(50% 0%, 80.5% 100%, 80% 100%, 20% 100%, 20% 100%);
}

.large-triangle {
  clip-path: polygon(50% 0%, 100% 38%, 100% 100%, 0 100%, 0% 38%);
}

.link {
  position: relative;
  width: fit-content;
  display: inline-block;
}

.link::after {
  content: "";
  position: absolute;
  bottom: -5%;
  left: 0;
  width: 100%;
  background-color: black;
  height: 1px; 
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.btn::after {
    transition: transform 0.3s rase;
}

/* .mid-nos-top p sup,
.mid-nos p sup {
  font-size: 5vw;    
  padding-bottom: 3vw;
 
} */
